<main>
  <%= render "shared/post_card", post: @post, user: params['user_id'], is_post_view: true %>

  <div class="row">
    <%= link_to post_likes_path(@post), data: { turbo_method: :post } do %>
      <%= @post.likes_counter %> Like
    <% end %>

    <%= render "delete_post",  user: @post.user, post: @post %>
  </div>

  <h3>New Comment</h3>
  <%= render "comments/form", post: @post %>

  <%= link_to "Back", user_posts_path(@post.user) %>
</main>
